/** General styles **/
html {
    padding-top: 5px;
    background-color: #000;
    color: #FFF;
}
img {
    border: 0;
}
hr {
    color: #AAA;
    background-color: #AAA;
    margin: 5px 0;
    text-align: center;
    margin-left: auto;
    height: 1px;
    border-width: 0px;
}
#ft {
    text-align: center;
    padding-top: 10px;
}
#content {
    margin-top: 5px;
}
#doc {
    font-family: 'Droid Sans', arial, serif;
}
#countdown {
    position: absolute;
    left: 860px;
    top: 10px;
    color: #FFF;
}
#date {
    position: absolute;
    left: 860px;
    top: 30px;
    color: #FFF;
}
#ninja {
    display: none;
    position: fixed;
    top: 240px;
    left: 40px;
}

/** Img size and styling **/
#regImg {
    width: 160px;
    height: 70px;
}
#hd img {
    width: 735px;
    height: 102px;
}
#bookImg {
    width: 170px;
    height: 200px;
}
#ninja img {
    width: 96px;
    height: 97px;
}

/** Text styling **/
.center {
    text-align: center;
}
h1, h2 {
    text-align: center;
}
#info h3 {
    margin: 1em 0px 0.2em 0px;
}
a:link, a:visited, a:active {
    color: #FFF;
}
.head {
    margin-right: 1em;
    font-weight: bold;
    font-size: 108%;
}
.hidden {
    display: none;
}

/** Image jiggle **/
#reg_cont {
    text-align: center;
    margin-left: auto;
}
.padd_0 {
    padding: 4px 0 3px 2px;
}
.padd_1 {
    padding: 4px 2px 3px 0;
}
.padd_2 {
    padding: 5px 0 2px 0;
}
.padd_3 {
    padding: 2px 0 5px 0;
}

/** Menu styles **/
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    text-align: center;
    border-bottom: 1px solid #FFF;
}
#menu li {
    border: 1px solid #FFF;
    border-bottom: 0px;
    display: inline;
}
#menu li a {
    text-decoration: none;
    padding: 0em 1em;
}
#menu li a:hover {
    background-color: #FFF;
    color: #000;
}
