/** General styles **/
* {
    padding: 0;
    margin: 0;
}
html {
    background-color: #EBEBEB;
    color: #FFF;
}
body {
    font-family: Georgia, serif;
}
img {
    border: 0;
}
hr {
    color: #AAA;
    background-color: #AAA;
    margin: 5px 0;
    text-align: center;
    margin-left: auto;
    height: 1px;
    border-width: 0px;
}
.icon {
    background-repeat: no-repeat;
    padding-left: 20px;
}
#doc {
    position: relative;
}
#external {
    position: absolute;
    top: 275px;
    left: -55px;
}
#external a {
    text-decoration: none;
}
#hd {
    position: relative;
}
#widthwrap {
    background-color: #000;
    padding-bottom: 100px;
    border-bottom: 1px solid #BBB;
}
#ft {
    text-align: center;
    font-family: arial, sans-serif;
    line-height: 150%;
    font-size: 100%;
    margin: 0;
    padding: 25px 0 0 0;
    color: #000;
    border-top: 3px solid #D7D7D7;
    background-color: #EBEBEB;
}
#ft a:link, #ft a:visited, #ft a:active {
    color: #000;
}
#ft .spacer {
    margin: 0 0.5em;
}
#content {
    margin-top: 1em;
    padding: 0px 5px;
    font-size: 110%;
}
#gallery {
    text-align: center;
    margin-left: auto;
}
#ninja {
    display: none;
    position: fixed;
    top: 240px;
    left: 40px;
}
#showhelp {
    display: none;
    background-image: url('/media/ikoner/information.png');
    background-repeat: no-repeat;
    text-decoration: underline;
    padding: 2px 18px;
    cursor: pointer;
    color: #FFF;
}
#showhelp:hover {
    color: #CCC;
}
#important {
    padding: 5px 5px 0px 5px;
    text-align: center;
    margin-left: 70px;
    width: 70%;
    border: 1px solid #CCC;
    background-color: #FFD451;
}
.icon_pad {
    padding-top: 2px;
    padding-bottom: 2px;
}
.imp_text {
    text-align: left;
    color: #000;
}

/** Jukebox styling **/
#jukebox {
    display: none;
    text-align: center;
    margin-left: auto;
}
#now_playing {
    position: relative;
    float: left;
    width: 98%;
    height: 256px;
    padding: 2px;
    margin-left: auto;
    text-align: center;
}
#aud_player {
    width: 98%;
    margin-left: auto;
    text-align: center;
}
#track_info {
    text-align: left;
    background-color: #FFD451;
    width: 50%;
    height: 100%;
}
.info_text {
    padding: 4px;
    color: #000;
}
#track_info a {
    color: #000;
}
#track_artist {
    font-weight: bold;
}
#cover {
    background-repeat: no-repeat;
    background-color: #FFD451;
    background-position: top right;
    height: 256px;
    width: 50%;
}
#cover_overlay {
    width: 226px;
    height: 34px;
    margin-top: 140px;
    margin-left: 46px;
    text-align: center;
    background-color: #000;
    border-top: 1px solid #000;
    /* IE */
    filter:alpha(opacity=60);
    /* CSS3 */
    opacity:0.6;
}
#playlist {
    display: block;
    text-align: left;
    margin-left: 20px;
}
#playlist li:hover {
    text-decoration: underline;
    cursor: pointer;
}
#playlist ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 1em;
    width: 55%;
}
#playlist li {
    border-bottom: 1px solid #FFF;
    background-repeat: no-repeat;
    background-position: 0px;
    padding: 2px 0px 2px 18px;
}
.video {
    background-image: url('/media/icons/film.png');
}

.audio {
    background-image: url('/media/icons/music.png');
}

/** Img size and styling **/
#hd img {
    width: 491px;
    height: 174px;
    margin-left: 30px;
}
#external img {
    height: 50px;
    width: 50px;
}
#bookImg {
    margin-top: 20px;
    width: 170px;
    height: 400px;
}
#ninja img {
    width: 96px;
    height: 97px;
}

/** Text styling **/
.center {
    text-align: center;
}
.black {
    color: #000;
}
.grey {
    color: #CCC;
}
.bold {
    font-weight: bold;
}
.small {
    font-size: 60%;
}
h1, h2 {
    text-align: center;
}
h3 {
    font-size: 128%;
}
#info h3 {
    margin: 1em 0px 0.2em 0px;
}
#countdown span {
    width: 1em;
    padding-right: 0.4em;
    display: inline-block;
}
a:link, a:visited, a:active {
    color: #FFF;
}
a:hover {
    color: #CCC;
}
.head {
    margin-right: 1em;
    font-weight: bold;
    font-size: 140%;
    font-family: Georgia;
}
.hidden {
    display: none;
}

/** Menu styles **/
#menu ul {
    font-family: arial, sans-serif;
    line-height: normal;
    font-size: 110%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 7px;
    text-align: center;
    border-bottom: 1px solid #AAA;
}
#menu ul li {
    display: inline;
    color: #FFF;
}
#menu li.active a {
    border: solid 1px #AAA;
    border-bottom: solid 1px #000;
}
#menu li a:hover {
    cursor: pointer;
    background-color: #555753;
    border-bottom: 1px solid #AAA;
}
#menu li.active a:hover {
    cursor: pointer;
    background-color: #000;
    border-bottom: 2px solid #000;
}
#menu li a {
    background-repeat: no-repeat;
    background-position: 8px 5px;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 26px;
    padding-right: 9px;
}
#menu li a:hover {
    color: #FFF;
}

/** Random **/
.grey_box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 50px 50px 0;
    background-image: -moz-linear-gradient(left top, #fcfcfc, #ffd451 12%, #fcda6c 90%, #ffd451);
    background-image: -webkit-gradient(linear, left top, center bottom, from(#fcfcfc), to(#ffd451), color-stop(12%, #f3efdf), color-stop(90%, #fcda6c));
    box-shadow: 0 1px 5px rgba(255,255,255,0.75);
}
