<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <title>Kriss Lee Festivalen 2010</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}styles/reset-fonts-grids.css" type="text/css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}styles/base-min.css" type="text/css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}styles/styles.css" type="text/css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.countdown.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/def.js"></script>
  {% block extrascripts %}{% endblock %}
</head>
<body>
  <div id="doc" class="yui-t4"> 
    <div id="hd">
      <a href="http://krisslee.blogspot.com/"><img alt="Kriss Lee 2010" src="{{ MEDIA_URL }}imgs/logo.png" /></a>
      <div id="countdown"></div>
    </div> 
    <div id="bd"> 
      <div id="yui-main"> 
        <div class="yui-b">
          <div id="menu" class="yui-g"> 
            <ul>
                <li><a href="/">Forside</a></li>
                <li><a href="http://krisslee.blogspot.com/">Blogg</a></li>
                <li><a href="/registration/">Registrering</a></li>
            </ul>
          </div> 
          <div id="content" class="yui-g"> 
            {% block content %}{% endblock %}
          </div> 
        </div> 
      </div> 
      <div id="info" class="yui-b">
        <a href="/registration/">
          <img alt="Meld deg på!" src="{{ MEDIA_URL }}imgs/meldpaa.png" />
        </a>
        <hr />
        <img alt="Booking 2010" src="{{ MEDIA_URL }}imgs/booking.png" />
        <hr />
        <h3>Frivillig</h3>
        <p>
          Trenger du <b>ekstra</b> god karma?
          En festival rydder ikke seg selv.<br/>
          Kontakt <a
          href="mailto:endre@krisslee.no">personalansvarlig</a>!
        </p>
      </div> 
    </div> 
    <div id="ft">
      <p>
        &copy; Kriss Lee Festivalen 2005-2010<br/>
        Funksjonalitetsønsker eller designpirk? <a
        href="mailto:design@krisslee.no">Ta kontakt!</a> 
      </p>
    </div> 
  </div> 
</body>
</html>
