<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Kriss Lee Festivalen 2010</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}styles/reset-fonts-grids.css" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}styles/base-min.css" type="text/css">
  <link rel="stylesheet" href="{{ MEDIA_URL }}styles/styles.css" type="text/css">
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
  {% block extrascripts %}{% endblock %}
</head>
<body>
  <div id="doc" class="yui-t4"> 
    <div id="hd" role="banner">
      <a href="http://krisslee.blogspot.com/"><img src="{{ MEDIA_URL }}imgs/logo.png" /></a>
    </div> 
    <div id="bd" role="main"> 
      <div id="yui-main"> 
        <div class="yui-b">
          <div id="menu" class="yui-g"> 
            <ul>
                <li><a href="/">Forside</a></li>
                <li><a href="http://krisslee.blogspot.com/">Blogg</a></li>
                <li><a href="/registration/">Registrering</a></li>
            </ul>
          </div> 
          <div class="yui-g"> 
            {% block content %}{% endblock %}
          </div> 
        </div> 
      </div> 
      <div class="yui-b">
        <h3>Bookinger 2010</h3>
        <p>
          The Åkseths<br/>
          Brødrene Strømme<br/>
          Amiga Egil & The Joysticks<br/>
          Jimmy Jazz<br/>
        </p>
        <h3>Frivillig</h3>
        <p>
          Kontakt <a
          href="mailto:personalansvarlig@krisslee.no">personalansvarlig</a>.
        </p>
      </div> 
    </div> 
    <div id="ft" role="contentinfo">
      <p>&copy; Kriss Lee Festivalen 2010</p>
    </div> 
  </div> 
</body>
</html>
