{% extends "base.html" %}
{% block content %}
  <p>
    <span class="head">Kolofon</span>
    Denne siden er skrevet i programmeringsspråket <a
    href="http://www.python.org/">Python</a> med god hjelp av WEB-rammeverket <a
    href="http://www.djangoproject.com/">Django</a>, JavaScript-biblioteket <a
    href="http://wwww.jquery.org/">jQuery</a> og CSS-biblioteket <a
    href="http://developer.yahoo.com/yui/">Yahoo! UI</a>. Fargepaletten benyttet er <a
    href="http://www.colourlovers.com/palette/1189039/Entrance">Entrance</a>, og
    ikonene er fra <a
    href="http://www.famfamfam.com/lab/icons/silk/">FamFamFam</a>.
  </p>
  <p>
    Siden skal i tillegg validere til standardene <a
    href="http://validator.w3.org/check/referer">XHTML</a> og <a
    href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>.
  </p>
{% endblock %}
