{% extends "base.html" %}
{% block extrascripts %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/galleria.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      Galleria.loadTheme('{{ MEDIA_URL }}js/themes/classic/galleria.classic.js');
     {% if pictures %}
       $('#gallery').galleria({
         transition_speed: 700 
       });
     {% endif %}
    });
  </script>
{% endblock %}
{% block content %}
  <p>
    Hei, og velkommen. Denne nettsiden blir fortløpende oppdatert.<br />
    Det er ikke satt en frist på påmelding enda, 
    men for at vi skal få et anslag på hvor mange t-skjorter som må bestilles,
    ber vi alle melde seg på så raskt som mulig.<br />
    Dersom noe er usikkert rundt påmelding, ikke nøl med å kontakte
    <a href="mailto:salg@krisslee.no">salg@krisslee.no</a>.
  </p>
  {% if pictures %}
    <ul id="gallery">
      {% for pic in pictures %}
        <li><img src="{{ MEDIA_URL }}pics/{{ pic }}" alt="{{ pic }}" /></li>
      {% endfor %}
    </ul>
  {% endif %}
  
{% endblock %}
