{% extends "base.html" %}
{% block extrascripts %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/galleria.js"></script>
  <script type="text/javascript">
    
    $(document).ready(function() {
      Galleria.loadTheme('{{ MEDIA_URL }}js/themes/classic/galleria.classic.js');
      $(document).konami(function(){
        var ctop = 10 * Math.floor(Math.random()*21);
        var cleft = 10 * Math.floor(Math.random()*21);
        $('#ninja').css('top', ctop + 'px');
        $('#ninja').css('left', cleft + 'px');
        $('#ninja').show();
        window.setTimeout('$(\'#ninja\').fadeOut(600)', 3000);
      });

      {% if pictures %}
        $('#gallery').galleria({
          transition_speed: 700 
        });
      {% endif %}
    });
  </script>
{% endblock %}
{% block externals %}
  {{ block.super }}
  {% if yr_symbol %}
    <a href="http://www.yr.no/sted/Norge/Vest-Agder/Mandal/Mandal/">
      <img src="{{ ICON_URL }}yr/{{ yr_symbol }}.png" title="Været i Mandal nå: {{ yr_desc }}" alt="{{ yr_desc }}" />
    </a>
  {% endif %}
{% endblock %}
{% block content %}
  <p>
    <span class="head">Hei, og velkommen.</span>
    Denne nettsiden blir fortløpende oppdatert.<br />
    Det er ikke satt en frist på påmelding enda, 
    men for at vi skal få et anslag på hvor mange t-skjorter som må bestilles,
    ber vi alle <a href="/registration/">melde seg på</a> så raskt som mulig.<br />
    Dersom noe er usikkert rundt påmelding, ikke nøl med å kontakte
    <a href="/contact/">salg@krisslee.no</a>.
  </p>
  {% if pictures %}
    <ul id="gallery">
      {% for pic in pictures %}
        <li><img src="{{ MEDIA_URL }}pics/{{ pic }}" alt="" /></li>
      {% endfor %}
    </ul>
  {% endif %}
  <span id="showhelp">Vis hjelpetekst</span>
  <div id="ninja">
    <img src="{{ MEDIA_URL }}imgs/ninja.gif" alt="Ninja!" />
  </div>
  <div id="important">
    <p class="imp_text">
      <span class="bold icon icon_pad" style="background-image: url('{{ ICON_URL }}information.png')">
        Gallerihjelp:
      </span>
      Hold musepekeren over galleriet for å pause avspillingen.
      Trykk <strong>j</strong> og <strong>k</strong> for å gå tilbake og fram i
      galleriet.
    </p>
  </div>
{% endblock %}
