{% extends "base.html" %}
{% block extrascripts %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.countdown.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/galleria.js"></script>
  <script type="text/javascript">

    $(document).ready(function() {
      Galleria.loadTheme('{{ MEDIA_URL }}js/themes/classic/galleria.classic.js');

      /** Count-down init **/
      var lee_date = new Date(2011, 7-1, 1, 18);

      if ((new Date()).getTime() < lee_date) {
          $('#countdown').countdown({
                  alwaysExpire: true,
                  until: lee_date,
                  compact: true,
                  layout:'Slapp av, det er bare <span>{dn}</span> dager, ' +
                         '<span>{hnn}</span> timer, <span>{mnn}</span> minutter' +
                         ' og <span>{snn}</span> sekunder igjen til fredag 1. ' +
                         'juli.'
              });
      }

      $(document).konami(function(){
        var ctop = 10 * Math.floor(Math.random()*21);
        var cleft = 10 * Math.floor(Math.random()*21);
        $('#ninja').css('top', ctop + 'px');
        $('#ninja').css('left', cleft + 'px');
        $('#ninja').show();
        window.setTimeout('$(\'#ninja\').fadeOut(600)', 3000);
      });

      {% if pictures %}
        $('#gallery').galleria({
          transition_speed: 700
        });
      {% endif %}
    });
  </script>
{% endblock %}
{% block externals %}
  {{ block.super }}
  {% if yr_data %}
    <a href="http://www.yr.no/sted/Norge/Vest-Agder/Mandal/Mandal/">
      <img src="{{ ICON_URL }}yr/{{ yr_data.symbol }}.png" title="Været i Mandal nå: {{ yr_data.desc }}" alt="{{ yr_data.desc }}" />
    </a><br/>
    <p class="small center">{{ yr_data.temp }}°C</p>
  {% endif %}
{% endblock %}
{% block content %}
  <p>
    <span id="countdown"></span><br/>
    I mellomtiden kan du kose deg med disse bildene fra de siste fem årene:
  </p>
  {% if pictures %}
    <ul id="gallery">
      {% for pic in pictures %}
        <li><img src="{{ MEDIA_URL }}pics/{{ pic }}" alt="" /></li>
      {% endfor %}
    </ul>
  {% endif %}
  <p>
      Hold musepekeren over galleriet for å pause.
      Trykk <strong>j</strong> og <strong>k</strong> for å gå tilbake og fram.
  </p>
  <div id="ninja">
    <img src="{{ MEDIA_URL }}imgs/ninja.gif" alt="Ninja!" />
  </div>
{% endblock %}
