{% extends "base.html" %}
{% block doctype %}
<!DOCTYPE html>
<html>
{% endblock %}
{% block extrascripts %}
<script type="text/javascript">
  var songs = [
      {
          'artist': 'Gladlaksene',
          'title': 'Havets Saft',
          'video': true,
          'ogv': 'Havets_Saft.ogv',
          'mp4': 'Havets_Saft.mp4',
          'image': '/media/jukebox/gladlaksene.jpg',
          'info': 'Filmet under Kriss Lee 09 av Fuafilm.<br/>\
                   Dette kan sees på som en teaser til en film som vil bli\
                   laget «en gang».<br/><a href="http://www.palfashion.no/media/Havets_Saft_hq.mp4">\
                   Trykk her</a> for å laste ned videoen i bedre oppløsning.'
      },
      {
          'artist': 'Gladlaksene',
          'title': 'Alene Eremitt',
          'source': 'Alene_Eremitt.ogg',
          'video': false,
          'image': '/media/jukebox/gladlaksene.jpg',
          'info': 'Gladlaksene er Mandals mest lokale lokalband. Når man bor i\
                   Norges fineste sørlandsperle som har så flott sjøkultur er\
                   det lett å finne inspirasjon. Bandet spiller blues og\
                   folkeviser om livet rundt og i sjøen, ofte med en solid\
                   dose lokalromantikk. Sanger skrives og fremføres selvsagt\
                   på ekte Mandals-dialekt. Sånn ellers er Gladlaksene\
                   selvsagt miljøbevisste og tar avstand fra overfiske og\
                   fråtseri slik som den årlige Skalldyrfestival.<br/>\
                   - <a href="http://www.nrk.no/urort/Artist/Gladlaksene/">Urørt</a>'
      },
      {
          'artist': 'Gladlaksene',
          'title': 'Legenden om Krabbeøya',
          'source': 'Legenden_om_Krabbeøya.ogg',
          'video': false,
          'image': '/media/jukebox/gladlaksene.jpg',
          'info': 'Gladlaksene er Mandals mest lokale lokalband. Når man bor i\
                   Norges fineste sørlandsperle som har så flott sjøkultur er\
                   det lett å finne inspirasjon. Bandet spiller blues og\
                   folkeviser om livet rundt og i sjøen, ofte med en solid\
                   dose lokalromantikk. Sanger skrives og fremføres selvsagt\
                   på ekte Mandals-dialekt. Sånn ellers er Gladlaksene\
                   selvsagt miljøbevisste og tar avstand fra overfiske og\
                   fråtseri slik som den årlige Skalldyrfestival.<br/>\
                   - <a href="http://www.nrk.no/urort/Artist/Gladlaksene/">Urørt</a>'
      },
      {
          'artist': 'The Åkseths',
          'title': 'I\'m a Man',
          'source': 'Im_a_Man.ogg',
          'video': false,
          'image': '/media/jukebox/theaakseths.jpg',
          'info': 'Låter som: cream to your ears<br/>Medlemmer: Hallvar\
                   Nilsen, Endre Bruskeland, Telly Whimston<br/>Forbilder:\
                   God<br/>- <a href="http://www.myspace.com/theaaksets">\
                   MySpace</a>' 
      }
  ];
</script>
{% endblock %}
{% block content %}
  <div id="jukebox">
    <div id="playlist">
      <span class="head">Spilleliste:</span>
      <ol>
        <li class="bold video">
          Gladlaksene - Havets Saft
        </li> 
        <li class="audio">
          Gladlaksene - Alene Eremitt
        </li> 
        <li class="audio">
          Gladlaksene - Legenden Om Krabbeøya
        </li> 
        <li class="audio">
          The Åkseths - I'm a Man
        </li>
      </ol>
    </div>
    <div id="now_playing" class="yui-g">
      <div id="track_info" class="yui-u first"><p class="info_text"></p></div>
      <div id="cover" class="yui-u">
        <div id="cover_overlay">
          <span id="track_artist"></span><br/>
          <span id="track_title"></span>
        </div>
      </div>
      <div id="vid_cont" class="hidden">
        <video id="vid_player" width="320" height="256" preload controls>
          <source id="vid_mp4" src="http://www.palfashion.no/media/Havets_Saft.mp4" type='video/mp4; codecs="vc1.42E01E, mp4a.40.2"' />
          <source id="vid_ogv" src="http://www.palfashion.no/media/Havets_Saft.ogv" type='video/ogg; codecs="theora, vorbis"' />
          <img src="/media/jukebox/gladlaksene.jpg" alt="Gladlaksene - Havets Saft" width="226" height="174" id="poster" />
        </video>
      </div>
    </div>
    <div id="aud_cont" class="hidden">
      <audio src="" id="aud_player" preload controls></audio>
    </div>
  </div>
  <div id="nohtml5" class="hidden">
    <p>
      Din nettleser støtter ikke HTML5, last ned nyeste versjon av
      <a href="http://www.google.com/chrome/">Google Chrome</a>,
      <a href="http://www.opera.com/">Opera</a>,
      eller <a href="http://www.mozilla.com/firefox/">Mozilla Firefox</a>.
      Du kan dog laste ned de aktuelle filene nedenfor, og prøve å spille dem av
      i et annet program, eksempelvis <a href="http://www.videolan.org/">VLC</a>.
    </p>
    <ul>
      <li>
        <a href="http://www.palfashion.no/media/Havets_Saft.ogv">
          Gladlaksene - Havets Saft (video)
        </a>
      </li> 
      <li>
        <a href="http://www.palfashion.no/media/Alene_Eremitt.ogg">
          Gladlaksene - Alene Eremitt
        </a>
      </li> 
      <li>
        <a href="http://www.palfashion.no/media/Legenden_om_Krabbeøya.ogg">
          Gladlaksene - Legenden Om Krabbeøya
        </a>
      </li> 
      <li>
        <a href="http://www.palfashion.no/media/Im_a_Man.ogg">
          The Åkseths - I'm a Man
        </a>
      </li>
    </ul>
  </div>
{% endblock %}
